.card {
  background-color: #020202ff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: var(--radius-lg);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}