.listContainer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.listColumn {
  flex: 1;
  background-color: var(--color-card);
  padding: 20px;
  border-radius: var(--radius-lg);
}

.listTitle {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 5px;
}